.search-contents
  .search-contents__forms
    = search_form_for @q do |f|
      .search-contents__forms__form
        .search-contents__forms__form__label
          = f.label :content, 'タスクの内容'
        .search-contents__forms__form__field
          = f.search_field :content_cont
        .search-contents__forms__form__label
          = f.label :is_complete, '完了/未完了'
        .search-contents__forms__form__field
          = f.radio_button :is_complete_eq, '', { :checked => true }
          指定なし
          = f.radio_button :is_complete_eq, 'true'
          完了
          = f.radio_button :is_complete_eq, 'false'
          未完了
      .search-contents__forms__submit-btn
        = f.submit '検索する'
  - if @tasks.present?
    .search-contents__message
      = "#{@tasks.length}件見つかりました"
    .search-contents__results
      %table
        %caption
          ToDoタスク
        %tr
          %th
            タスクの内容
          %th
            タスクの締め切り日時
          %th
            ポイント
          %th
            完了/未完了
          %th
            編集
          %th
            削除
        - @results.each do |result|
          %tr
            %td
              = result.content
            %td
              = result.deadline
            %td
              = "#{result.point}pt"
            %td
              - if result.is_complete
                完了
              - else
                未完了
            %td
              = link_to edit_task_path(result.id) do
                編集する
            %td
              = link_to "/tasks/#{result.id}", method: :delete do
                削除する
    - if @tasks.length > @maximum_per_page
      .search-contents__paginate
        = paginate(@results)
    - else
      -# nop
  - else
    .search-contents__message
      条件に一致するタスクはありませんでした
